﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default4.aspx.cs" Inherits="Default4" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

    <link href="CSS/foundation.css" rel="stylesheet" />
</head>
<body>

    <div class="preferedoneway-flights">
        <div class="al-depdate">
            <p>Preferred Airline</p>
            <span class="al-none">None</span></div>
    </div>


</body>
</html>
