﻿<%@ Master Language="VB" CodeFile="MasterAfterLogin.master.vb" Inherits="MasterAfterLogin" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Richa Travels, Best B2B Website. Book Flight, Hotel, Bus, Air Cargo, Insurance</title>
        <meta name="description" content="Get best deals on all your online travel bookings. Book Flights, Hotel, Bus, Air Cargo and Insurance at richatravels.in. 100% customer satisfaction through our best prices, great discounts and 24x7 Customer support."/>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript">
        var UrlBase = '<%=ResolveUrl("~/")%>';
        //var ApplUrl = 'http://b2b.//.com/';
    </script>

    <link type="text/css" href="icofont/icofont.css" rel="stylesheet" />
    <link type="text/css" href="icofont/icofont.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet" />
    <link rel="stylesheet" href="Advance_CSS/css/font-awesome.css" />
    <link rel="stylesheet" href="Advance_CSS/css/lineicons.css" />
    <link rel="stylesheet" href="Advance_CSS/css/weather-icons.css" />
    <link rel="stylesheet" href="Advance_CSS/css/bootstrap.css" />
    <link rel="stylesheet" href="Advance_CSS/css/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="Hotel/css/B2Bhotelengine.css" rel="stylesheet" />
    <link href="Advance_CSS/css/custom.css" rel="stylesheet" />
    <link href="Advance_CSS/css/responsive.css" rel="stylesheet" />
    <link href="Advance_CSS/Sidebar.css" rel="stylesheet" />

    <style type="text/css">
        .header-top {
            background: #0fabe5;
            padding: 10px 0;
            line-height: 20px;
        }

        .align-items-center {
            -ms-flex-align: center !important;
            align-items: center !important;
        }

        @media (min-width: 768px) {
            .float-md-left {
                float: left !important;
            }
        }

        .align-items-center {
            -ms-flex-align: center !important;
            align-items: center !important;
        }

        .d-flex {
            display: -ms-flexbox !important;
            display: flex !important;
        }

        .top-left-link ul li {
            width: 100%;
            /*border-right: 1px solid #999;*/
            margin-right: 10px;
        }

        @media (min-width: 576px) {
            .float-sm-right {
                float: right !important;
            }
        }

        @media (min-width: 576px) {
            .d-sm-block {
                display: block !important;
            }
        }

        @media (min-width: 576px) {
            .float-sm-right {
                float: right !important;
            }
        }

        @media (min-width: 576px) {
            .d-sm-block {
                display: block !important;
            }
        }

        .d-none {
            display: none;
        }

        .top-right-link ul li:first-child {
            padding-left: 0;
        }

        .top-right-link ul li {
            border-right: 1px solid #999999;
            float: left;
            padding: 0 12px;
            position: relative;
        }

        .content {
            height: 100%;
            min-height: 100%;
        }

        .top-right-link ul li a {
            color: #fff;
        }

        a, a:focus, a:active, a:link, img {
            outline: none;
            text-decoration: none;
        }

        a {
            cursor: pointer;
            text-decoration: none;
            color: #5d646d;
            -webkit-transition: all 0.4s ease 0s;
            -moz-transition: all 0.4s ease 0s;
            -ms-transition: all 0.4s ease 0s;
            -o-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
        }


        @media (min-width: 992px) {
            .header-middle {
                position: relative;
                background: #fff;
            }
        }

        .no-gutters {
            margin-right: 0;
            margin-left: 0;
        }

        @media (min-width: 992px) {
            .header-middle-left {
                background: #fff;
                position: relative;
                z-index: 2;
            }
        }

        .navbar-header {
            float: none;
        }

            .navbar-header .navbar-brand {
                height: auto;
                padding: 0;
                margin-right: 0 !important;
                margin-top: 0 !important;
                margin-left: 0 !important;
            }

        a, a:focus, a:active, a:link, img {
            outline: none;
            text-decoration: none;
        }

        .navbar-brand {
            display: inline-block;
            padding-top: .3125rem;
            padding-bottom: .3125rem;
            margin-right: 1rem;
            font-size: 1.25rem;
            line-height: inherit;
            white-space: nowrap;
        }

        .navbar-expand .navbar-collapse {
            display: -ms-flexbox !important;
            display: flex !important;
            -ms-flex-preferred-size: auto;
            flex-basis: auto;
        }

        .collapse:not(.show) {
            display: none;
        }

        .justify-content-center {
            -ms-flex-pack: center !important;
            justify-content: center !important;
        }

        .navbar-collapse {
            -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
            -ms-flex-positive: 1;
            flex-grow: 1;
            -ms-flex-align: center;
            align-items: center;
        }

        @media (min-width: 576px) {
            .d-sm-none {
                display: none !important;
            }
        }

        .top-right-link ul li:first-child {
            padding-left: 0;
        }

        .navbar-nav > li:first-child {
            margin-left: 0;
        }

        .navbar-nav > li {
            margin: 0 15px;
        }

        .nav > li {
            position: inherit;
            display: inline-block;
        }

        .navbar-nav > li > a {
            color: #3a3a3a;
            padding: 30px 0;
            margin: 0;
            font-size: 15px;
            font-weight: 600;
            position: relative;
            display: inline-block;
            -webkit-transition: all 0.4s ease 0s;
            -moz-transition: all 0.4s ease 0s;
            -ms-transition: all 0.4s ease 0s;
            -o-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
        }

       /* @media (min-width: 992px) {
            .header-middle-left::after {
                content: "";
                position: absolute;
                right: 0;
                top: 0;
                width: 5px;
                height: 100%;
                background: #e6144f;
            }
        }*/


        @media (min-width: 992px) {
            .header-middle::after {
                background: #fff;
                content: "";
                position: absolute;
                width: 50%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 0;
            }
        }

        @media (min-width: 992px) {
            .header-contact-info span {
                position: absolute;
                left: -18px;
                top: 50%;
                transform: translateY(-50%);
                width: 30px;
                height: 30px;
                background: #e6144f;
                border-radius: 50%;
                line-height: 30px;
                text-align: center;
                color: #fff;
            }
        }

        @media (min-width: 992px) {
            .header-contact-info {
                position: relative;
            }
        }

        @media (min-width: 1200px) {
            .header-contact-info {
                padding-left: 50px;
            }
        }

        @media (min-width: 992px) {
            .d-lg-block {
                display: block !important;
            }
        }

        .no-gutters > .col, .no-gutters > [class*=col-] {
            padding-right: 0;
            padding-left: 0;
        }

        @media (min-width: 992px) {
            .col-lg-3 {
                -ms-flex: 0 0 25%;
                flex: 0 0 25%;
                max-width: 25%;
            }
        }

        .navbar-expand .navbar-nav {
            -ms-flex-direction: row;
            flex-direction: row;
        }

        .navbar-nav {
            display: -ms-flexbox;
            /*display: flex;*/
            -ms-flex-direction: column;
            flex-direction: column;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
        }

        .nav {
            display: -ms-flexbox;
           /* display: flex;*/
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
        }

        @media (min-width: 992px) {
            .col-lg-9 {
                -ms-flex: 0 0 75%;
                flex: 0 0 75%;
                max-width: 75%;
            }
        }

        @media (min-width: 992px) {
            .col-lg-3 {
                -ms-flex: 0 0 25%;
                flex: 0 0 25%;
                max-width: 25%;
            }
        }
        /*.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}*/

        .col-12 {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }

       /* img {
            height: auto;
            max-width: 100%;
            border: none;
            outline: none;
            -webkit-transition: all 0.4s ease 0s;
            -moz-transition: all 0.4s ease 0s;
            -ms-transition: all 0.4s ease 0s;
            -o-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
        }*/

        img {
            vertical-align: middle;
            border-style: none;
        }

        ul {
            list-style: none;
            padding-left: 0px;
            margin-bottom: 0;
        }

        .select-dropdown {
            position: relative;
            width: 100%;
            display: block;
            height: 42px;
            border: 1px solid #e1e1e1;
            -webkit-transition: all 0.4s ease-in;
            -moz-transition: all 0.4s ease-in;
            -o-transition: all 0.4s ease-in;
            transition: all 0.4s ease-in;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -o-border-radius: 5px;
            border-radius: 5px;
        }

            .select-dropdown.language-currency {
                border: none;
                height: auto;
            }

        .language-currency .drop-option {
            padding: 0;
        }

        .drop-option {
            cursor: pointer;
            padding: 9px 10px;
        }

        .language-currency .drop-option span, .language-currency .drop-option .dropdown-arrow {
            color: #ffffff;
        }

      

        .language-currency .drop-option span, .language-currency .drop-option .dropdown-arrow {
            color: #ffffff;
        }

        .drop-option .dropdown-arrow {
            position: absolute;
            top: 50%;
            right: 10px;
            color: #5d646d;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        @media (min-width: 992px) {
            .header-contact-info h3 {
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 5px;
                color: #fff;
            }
        }

        .top-right-link svg {
            width: 20px;
            margin-right: 2px;
        }

        svg {
            overflow: hidden;
            vertical-align: middle;
        }
    </style>

    <style type="text/css">

        .navbar-theme-abs {
    position: relative;
    /*top: -8px;*/
    left: 0;
    width: 100%;
    z-index: 999;
    height: auto;
}

        .menu-container {
            visibility: hidden;
            opacity: 0;
        }

            .menu-container.active {
                visibility: visible;
                opacity: 1;
                -webkit-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
            }

        .user-menu {
            position: absolute;
            right: -22px;
            background-color: #FFFFFF;
            width: 256px;
            border-radius: 2px;
            border: 1px solid rgba(0, 0, 0, 0.15);
            padding-top: 5px;
            padding-bottom: 5px;
            margin-top: 20px;
        }

            .user-menu .profile-highlight {
                display: -webkit-box;
                display: flex;
                border-bottom: 1px solid #E0E0E0;
                padding: 12px 16px;
                margin-bottom: 6px;
            }

                .user-menu .profile-highlight img {
                    width: 48px;
                    height: 48px;
                    border-radius: 25px;
                    -o-object-fit: cover;
                    object-fit: cover;
                }

                .user-menu .profile-highlight .details {
                    display: -webkit-box;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    flex-direction: column;
                    margin: auto 12px;
                }

                    .user-menu .profile-highlight .details #profile-name {
                        font-weight: 600;
                        font-size: 16px;
                    }

                    .user-menu .profile-highlight .details #profile-footer {
                        font-weight: 300;
                        font-size: 14px;
                        margin-top: 4px;
                    }

            .user-menu .footer {
                border-top: 1px solid #E0E0E0;
                padding-top: 6px;
                margin-top: 6px;
            }

                .user-menu .footer .user-menu-link {
                    font-size: 13px;
                }

            .user-menu .user-menu-link {
                display: -webkit-box;
                display: flex;
                text-decoration: none;
                color: #333333;
                font-weight: 400;
                font-size: 14px;
                padding: 12px 16px;
            }

                .user-menu .user-menu-link div {
                    margin: auto 10px;
                }

                .user-menu .user-menu-link:hover {
                    background-color: #F5F5F5;
                    color: #333333;
                }

            .user-menu:before {
                position: absolute;
                top: -16px;
                left: 120px;
                display: inline-block;
                content: "";
                border: 8px solid transparent;
                border-bottom-color: #E0E0E0;
            }

            .user-menu:after {
                position: absolute;
                top: -14px;
                left: 121px;
                display: inline-block;
                content: "";
                border: 7px solid transparent;
                border-bottom-color: #FFFFFF;
            }
    </style>

    <style type="text/css">
        body {
       
        @import url(http://fonts.googleapis.com/css?family=Fjalla+One);
        @import url(http://fonts.googleapis.com/css?family=Gudea);

        .footer1 {
            background: #06384e url("../images/footer/footer-bg.png") repeat scroll left top;
            padding-top: 40px;
            padding-right: 0;
            padding-bottom: 20px;
            padding-left: 0;
        }



        .title-widget {
            color: #a9a9a9;
            font-size: 20px;
            font-weight: 300;
            line-height: 1;
            position: relative;
            text-transform: uppercase;
            font-family: 'Fjalla One', sans-serif;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 25px;
            margin-left: 0;
            padding-left: 28px;
        }

            .title-widget::before {
                background-color: #0b5b7d;
                content: "";
                height: 80px;
                left: 0px;
                position: absolute;
                top: -26px;
                width: 2px;
            }



        .widget_nav_menu ul {
            list-style: outside none none;
            padding-left: 0;
        }

        .widget_archive ul li {
            background-color: rgba(0, 0, 0, 0.3);
            content: "";
            height: 3px;
            left: 0;
            position: absolute;
            top: 7px;
            width: 3px;
        }


        .widget_nav_menu ul li {
            font-size: 13px;
            font-weight: 700;
            line-height: 20px;
            position: relative;
            text-transform: uppercase;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            margin-bottom: 7px;
            padding-bottom: 7px;
            width: 95%;
        }



        .title-median {
            color: #636363;
            font-size: 20px;
            line-height: 20px;
            margin: 0 0 15px;
            text-transform: uppercase;
            font-family: 'Fjalla One', sans-serif;
        }

        .footerp p {
            font-family: 'Gudea', sans-serif;
        }


        #social:hover {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
        }

        #social {
            -webkit-transform: scale(0.8);
            -moz-transform: scale(0.8);
            -o-transform: scale(0.8);
            -webkit-transition-duration: 0.5s;
            -moz-transition-duration: 0.5s;
            -o-transition-duration: 0.5s;
        }

        .social-fb:hover {
            color: #3B5998;
        }

        .social-tw:hover {
            color: #4099FF;
        }

        .social-gp:hover {
            color: #d34836;
        }

        .social-em:hover {
            color: #f39c12;
        }

        .nomargin {
            margin: 0px;
            padding: 0px;
        }





        .footer-bottom {
            background-color: #15224f;
            min-height: 30px;
            width: 100%;
        }

        .copyright {
            color: #fff;
            line-height: 30px;
            min-height: 30px;
            padding: 7px 0;
        }

        .design {
            color: #fff;
            line-height: 30px;
            min-height: 30px;
            padding: 7px 0;
            text-align: right;
        }

            .design a {
                color: #fff;
            }
    </style>



    <style type="text/css">
        ::-webkit-scrollbar {
            width: 4px;
            height: 4px;
        }

        ::-webkit-scrollbar-button {
            width: 0px;
            height: 0px;
        }

        ::-webkit-scrollbar-thumb {
            background: #959595;
            border: 0px none #ffffff;
            border-radius: 0px;
        }

            ::-webkit-scrollbar-thumb:hover {
                background: #525965;
            }

            ::-webkit-scrollbar-thumb:active {
                background: #525965;
            }

        ::-webkit-scrollbar-track {
            background: transparent;
            border: 0px none #ffffff;
            border-radius: 50px;
        }

            ::-webkit-scrollbar-track:hover {
                background: transparent;
            }

            ::-webkit-scrollbar-track:active {
                background: transparent;
            }

        ::-webkit-scrollbar-corner {
            background: transparent;
        }
    </style>




</head>
<body>

    <%--<a id="scroll_top" style="z-index:1011;"></a>--%>







    <form id="form1" runat="server">

        <%--<a id="button"><i aria-hidden="true">
            <img src="Icons/flight.png" alt="" style="width: 30px; margin-top: 8px;" /></i>

        </a>--%>

        <div class="ed-top" style="display: none;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ed-com-t1-left">
                            <ul>
                                <li><a href="#" style="color: #fff; margin-left: -79px;">Call Us : +91 79 4910 9999</a>
                                </li>
                                <%--<li><a href="#">Phone: +101-1231-1231</a>
                                </li>--%>
                                <li>
                                    <%--<i class="fa fa-circle" aria-hidden="true" style="color:orange;margin-top: 7px;"></i>--%>
                                </li>
                            </ul>
                        </div>
                        <div class="ed-com-t1-right">
                            <ul>

                                <%--  <li>
                                    <div  class="pd" runat="server" id="div3" style="font-size: 12.5px !important;color:#fff;margin-top: 3px;margin-right: 18px;"> <i><img src="/Images/icons/wallet.png" style="width: 18px;"/></i>   Balance: <span id="Span1" style="font-size: 11.5px !important;"></span>&nbsp;|&nbsp;<i><img src="/Images/icons/Credit.png" style="width: 21px;"/></i>   Credit Limit:  <span id="Span2" style="font-size: 11.5px !important;"></span>&nbsp;|&nbsp;<i><img src="/Images/icons/Due.png" style="width: 25px;"/></i>   Due: <span id="Span3" style="font-size: 11.5px !important;"></span></div>
                                </li>--%>
                                &nbsp;
                               <%-- <li>
                                    <asp:LinkButton ID="LinkButton3" runat="server" Text="Log Out" Font-Italic="False"
                                                Font-Bold="True" OnClick="lnklogout_Click1" CausesValidation="False" style="background:#ef3535;"></asp:LinkButton>
                                </li>--%>
                            </ul>
                        </div>
                        <div class="ed-com-t1-social" style="display: none">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <input type='hidden' id='widget_agent_id' value='<%=Session("UID")%>' />

        <div class="page-wrapper chiller-theme">

            <nav id="sidebar" class="sidebar-wrapper" style="z-index: 1011;">
                <div class="sidebar-content" style="">
                    <div class="sidebar-brand">
                        <!--<a href="#">Faretripbox</a>-->
                        <%-- <a class="navbar-brand" href="/Faretripbox/Home.aspx" style="margin-top: -10px;">
                        <img src="/Faretripbox/Icons/logo(ft).png" alt="Image Alternative text" title="Image Title">
                    </a>--%>

                        <div id="close-sidebar" style="margin-top: 10px; position: absolute; right: 12px;">
                            <i class="icofont-close-line-circled"></i>
                        </div>
                    </div>
                    <div class="sidebar-header">
                        <div class="user-pic">
                            <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" alt="User picture">
                        </div>
                        <div class="user-info">
                            <span class="user-name"><%=AgencyName%>

                                <%-- <strong>Kunal</strong>--%>
                            </span>
                            <span class="user-role">(<%=AgencyId%>)</span>

                        </div>
                    </div>

                    <div class="sidebar-menu">
                        <ul>

                            <li>
                                <a href="../Report/Agent/Agent_Profile.aspx">
                                    <%-- <i class="icofont-home"></i>--%>
                                    <div class="mn_icncol">

                                        <div class="menuicnCol"><i class="icofont-ticket1"></i></div>
                                        <div class="pull-l">
                                            <span class="mColtxt">My Account</span>
                                            <p class="mColsbtxt">View and manage your account</p>
                                        </div>
                                    </div>
                                </a>

                            </li>




                        </ul>

                        <div style="padding: 25px 15px;">
                            <ul class="theme-sidebar-section-features-list">
                                <li>
                                    <h5 class="theme-sidebar-section-features-list-title">Manage your bookings!</h5>
                                    <p class="theme-sidebar-section-features-list-body">You're in control of your booking - no registration required.</p>
                                </li>

                                <li>
                                    <h5 class="theme-sidebar-section-features-list-title">Customer support 24/7</h5>
                                </li>

                            </ul>

                            <div class="support">
                                
                                <div>
                                    <i class="icofont-live-support" style="float: left; font-size: 65px;"></i>
                                    <p class="theme-sidebar-section-features-list-body" style="font-size: 20px; float: right;">+91-8101011011 </p>
                                    <p style="float: right; color: #b6b6b6;">(7am to 10pm)</p>
                                    <p class="theme-sidebar-section-features-list-body" style="float: right;">support@Richa Travels.com</p>
                                </div>
                            </div>



                        <asp:LinkButton class="w3-bar-item w3-button" Text="Sign Out" Font-Italic="False" ID="LinkButton3" runat="server" OnClick="lnklogout_Click1" CausesValidation="False" style="font-style: normal;position: absolute;bottom: 0;text-align: center;background: #2c75ae;left: 0;right: 0;padding: 10px;color: #eee;font-size: 16px;"></asp:LinkButton>

                            

                        </div>



                      
                    </div>
                    <!-- sidebar-menu  -->
                </div>
                <!-- sidebar-content  -->

            </nav>

        </div>



        <header style="display: none;">
            <div class="flyclubhead">
                 <div id="DivLoadPBal" style="display: none; left: 0; top: 0; position: fixed; width: 100%; height: 100%; z-index: 9998; background-image: url(Images/fade.png);">
            <div style="z-index: 9999; width: 30%; height: 20%; margin-right: auto; top: 150px; position: fixed; background: #fff; margin-left: 35%; padding-top: 10px; text-align: center;">
                <div>
                    <b style="vertical-align: bottom; font-size: 18px;">Loading please wait...</b>
                </div>
                <div style="clear: both;"></div>
                <div style="padding-top: 10px;">
                    <img alt="loading please wait" src="<%=ResolveUrl("~/Images/loadingAnim.gif")%>" style="width: 90px; height: 90px; position: absolute; margin-left: 40%; margin-right: auto; vertical-align: top;" />
                </div>
            </div>
        </div>
        <% Dim objMs As New FltSearch1()%>
        <% Dim umMs As String%>
        <% Dim rawurlMs As String%>
                  <div style="margin-right: 10px;" class="rgt">
                 <%--   <asp:ScriptManager ID="ScriptManager1" runat="server" EnablePageMethods="true">
                    </asp:ScriptManager>--%>

                </div>
                <div class="navbar navbar-default" role="navigation">
                    <div class="">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 logo">
                                    <a href="<%= ResolveUrl("flight-search") %>">
                                        <img src="<%= ResolveUrl("Custom_Design/images/logo_new.png")%>" alt="Header image" border="0" style="position: relative;top: 6px;"/>
                                    </a>
                                    
                                </div>

                                
                                <div class="col-md-3 col-xs-6 logo">
                                  <div class="hidden-xs">

                                      <div class="lft plft20  pull-right"  style="border-right: 1px solid #cacaca;border-left: 1px solid #cacaca;padding: 16px;color: #8e8e8e;position: inherit;"> <a href="<%= ResolveUrl("flight-search") %>" style="color: #9c9c9c;">
                                          <i class="fa fa-hotel"></i></a></div>

                                      <div class="lft plft20  pull-right" style="border-right: 1px solid #cacaca;border-left: 1px solid #cacaca;padding: 16px;color: #8e8e8e;position: inherit;"> <a href="<%= ResolveUrl("flight-search") %>" style="color: #9c9c9c;">
                                          <i class="fa fa-bus"></i></a></div>

                                     <div class="lft plft20  pull-right" style="border-right: 1px solid #cacaca;border-left: 1px solid #cacaca;padding: 16px;color: #8e8e8e;position: inherit;"> <a href="<%= ResolveUrl("flight-search") %>" style="color: #9c9c9c;">
                                          <i class="fa fa-plane"></i></a></div>

                                     


                                    

                                     
</div>
                                   
                                    
                                </div>

                                <div class="col-md-6 hidden-xs " style="margin-top: 8px;float: right;">
                                     <div class="menuhide" style="text-align:right;font-size: small;color:#737373;margin-top: 23px; " >
                                             <%--User Id:  <asp:Label runat="server"><%=Session("firstNameITZ").ToString() %></asp:Label> ( <%=Session("AgencyId")%>)<br />--%>
                                            <%--AgencyName: <%=Session("AgencyName").ToString() %> ( <%=Session("AgencyId")%>)<br />--%>
                                           <i class="fa fa-circle" aria-hidden="true" style="color:orange;    position: absolute;top: 3px;right: 121px;"></i>Welcome !! <%--AgencyName:--%> <%=AgencyName%> ( <%=AgencyId%>)<br />
                                <asp:Label ID="Label1" runat="server" Style="display: none;"></asp:Label>
                                                </div>
                                        <ul class="nav navbar-nav align-set" style="display:none;">
                                           
                                             <li class="menuhide"><div  class="pd" runat="server" id="divAgentBalance"> Available Balance: <span id="blc1"></span> Credit Limit:  <span id="CrdLimit1"></span> Due: <span id="DueAmt1"></span></div></li>                                          
                                            
                                        </ul>
                                  
                                    <div class="collapse navbar-collapse">
                                        <div class="large-6 medium-7 small-7   columns mtop10" style="float: right;padding-right: 0px;padding-top:10px;display: none;"> 
                                <div class="lft f13">
                        <% If Session("User_Type").ToString().Trim().ToUpper().Equals("AGENT") Then%>
                        <div id="crdrow" runat="server" style="min-height: 40px;">
                           
                            <div>
                                 
                                <asp:Label ID="lblCamt" runat="server" Style="display: none;"></asp:Label>
                            </div>
                        </div>
                     
                        <% End If%>
                        <div id="tr_AgencyID" runat="server" class="rgt padding1" style="border: 1px solid #f1f1f1; border-left: none; display: none">
                            <div class="bld">
                                Agency ID
                            </div>
                            <div id="td_AgencyID" runat="server">
                            </div>
                        </div>
                        <div class="textalignright rgt padding1" style="border: 1px solid #f1f1f1; border-left: none; display: none">
                            <div class="bld">
                                Welcome
                            </div>
                            <div>
                                <asp:Label ID="lblagency" runat="server"></asp:Label>
                            </div>
                        </div>
                    </div>
                </div>
                                        <div style="clear:both;"></div>
                                        
                                        <div id="setng2" class="cursorpointer rgt" style="margin-right: 30px; width: 130px;">
                            <%--<div class="" id="setng">
                                <img src="<%= ResolveUrl("~/Images/settings.png") %>" id="imgCtlPnl" />
                                <span class="cplnew">Control Panel</span>
                            </div>--%>
                            <div class="clear">
                            </div>

                            <%If Session("TypeID").ToString().Trim().ToUpper().Equals("ECR") Then%>
                            <div class="settings colorwhite hide" id="setng1">
                                <div>

                                    <a href="<%= ResolveUrl("~/Report/TicketReport.aspx")%>">Flight</a>
                                </div>

                                <div>

                                    <a href="<%= ResolveUrl("~/Report/Accounts/DomSaleRegister.aspx")%>">Accounts</a>
                                </div>

                                <div style="border: none;" class="f13">
                                    <asp:LinkButton ID="LinkButton1" runat="server" Text="Log Out" Font-Italic="False"
                                        Font-Bold="True" OnClick="lnklogout_Click1" CausesValidation="False"></asp:LinkButton>
                                </div>
                            </div>

                            <%Else%>

                            <div class="settings colorwhite hide" id="setng1">
                                <div>
                                    <a href="../Report/Accounts/Ledger.aspx">Ledger</a>
                                </div>
                                <div>

                                    <a href="<%= ResolveUrl("~/Report/TicketReport.aspx")%>">Flight</a>
                                </div>
                                <div>

                                    <a href="<%= ResolveUrl("~/Report/Hotel/HtlBookingRpt.aspx")%>">Hotel</a>
                                </div>

                                <%If Session("User_Type").ToString().Trim().ToUpper().Equals("ADMIN") Then%>
                                <div>
                                    <a href="<%= ResolveUrl("~/Report/agent/AgentTypeDetails.aspx")%>">Group Type</a>
                                </div>

                                <div>
                                    <a href="<%= ResolveUrl("~/Report/Admin/DomAirlineMarkup.aspx")%>">Flight Setting</a>
                                </div>
                                <div>
                                    <a href="<%= ResolveUrl("~/Report/Admin/AdminHtlMarkup.aspx")%>">Hotel Setting</a>
                                </div>
                                <%ElseIf Session("User_Type").ToString().Trim().ToUpper().Equals("AGENT") Then%>
                                <div>
                                    <a href="<%= ResolveUrl("~/Report/Agent/Agent_markup.aspx")%>">Flight Setting</a>
                                </div>
                                <div>
                                    <a href="<%= ResolveUrl("~/Report/Agent/AgentHtlMarkup.aspx")%>">Hotel Setting</a>
                                </div>
                                <%End If%>


                                <%If Session("User_Type").ToString().Trim().ToUpper().Equals("ADMIN") Then%>
                                <div>
                                    <a href="<%= ResolveUrl("~/Report/Admin/Agent_Details.aspx")%>">Agent Profiles</a>
                                </div>
                                <%End If%>


                                <%If Session("User_Type").ToString().Trim().ToUpper().Equals("ADMIN") Then%>
                                <div>
                                    <a href="<%= ResolveUrl("~/Report/Admin/ExecutiveDetails.aspx")%>">Register Executive</a>
                                </div>
                                <%End If%>
                                <div>
                                    <%--<% umMs = ""%>
                                            <% umMs = objMs.GetMUForPage("Report/Accounts/DomSaleRegister.aspx")%>
                                            <% rawurlMs = ""%>
                                            <%rawurlMs = Request.RawUrl%>
                                            <%rawurlMs = "/" & rawurlMs.Replace(rawurlMs, umMs)%>
                                            <a href="<%= rawurlMs %>">Accounts</a>--%>
                                    <a href="<%= ResolveUrl("~/Report/Accounts/DomSaleRegister.aspx")%>">Accounts</a>
                                </div>

                                <div id="hypdeal" runat="server" style='display: none'>
                                    <!-- <a href="<%= ResolveUrl("~/Report/Agent/DealSheetDomIntl.aspx") %>" target="_blank">
                                    Deal Sheet</a>-->
                                </div>


                                <%If Session("User_Type").ToString().Trim().ToUpper().Equals("ADMIN") Then%>
                                <div>
                                    <a href="<%= ResolveUrl("~/Report/Accounts/ChangePassword.aspx")%>">Change Password</a>
                                </div>
                                <%End If%>

                                <%If Session("User_Type").ToString().Trim().ToUpper().Equals("AGENT") Then%>
                                <div>
                                    <a href="<%= ResolveUrl("~/Report/Agent/Agent_Profile.aspx")%>">Profile</a>
                                </div>
                                <%End If%>

                                <div style="border: none;" class="f13">
                                    <asp:LinkButton ID="lnklogout" runat="server" Text="Log Out" Font-Italic="False"
                                        Font-Bold="True" OnClick="lnklogout_Click1" CausesValidation="False"></asp:LinkButton>
                                </div>
                            </div>

                            <%End If%>
                        </div>
                              <%--          <div id="menutbl" style="display: none;">
                        <table style="width: 50%; margin: 0 auto; display: none;">
                            <tr>
                                <td>
                                    <asp:Menu ID="Menu1" runat="server" Orientation="Horizontal" CssClass="NavigationMenu"
                                        DynamicPopOutImageUrl="Images/right-arrow.gif" StaticPopOutImageUrl="Images/drop-arrow.gif">
                                        <StaticMenuItemStyle CssClass="staticMenuItemStyle" />
                                        <DynamicMenuItemStyle CssClass="dynamicMenuItemStyle" />
                                        <DataBindings>
                                            <asp:MenuItemBinding DataMember="MenuItem" NavigateUrlField="NavigateUrl" TextField="MenuText" />
                                        </DataBindings>
                                    </asp:Menu>
                                </td>
                            </tr>

                        </table>
                    </div>--%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>



        <nav class="navbar navbar-default navbar-inverse navbar-theme navbar-theme-abs navbar-theme-transparent navbar-theme-border" id="main-nav" style="display:none;">
        <div class="container">
            <div class="navbar-inner nav">




                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" data-target="#navbar-main" data-toggle="collapse" type="button" area-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                
                         <i class="icofont-ui-user icofont-2x"></i>
                    </button>

                     <a  class="navbar-brand" href="#" style="z-index: 1011;display:none;">
            <i class="icofont-navigation-menu icofont-2x"></i>
        </a>

                    <a class="navbar-brand" href="<%=ResolveUrl("flight-search")%>">
                        <img src="../Advance_CSS/Icons/logo(ft).png" alt="Image Alternative text" title="Image Title" />
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-main">
                    <ul class="nav navbar-nav">

                       

                    <li class="user-menu__item" >
                        <a class="user-menu-link" href="<%=ResolveUrl("flight-search")%>">FLIGHT</a>
                    </li>

                         <li class="user-menu__item">
        <a class="user-menu-link" href="https://richatravels.in/offers" target="_blank">
         DEALS
        </a>
      </li>

    
      <li class="user-menu__item">
        <a class="user-menu-link" href="https://richatravels.in/Company/contact-us" target="_blank">
          CONTACT US
        </a>
      </li>
              <li class="user-menu__item">
        <a class="user-menu-link" href="#">
          ACCOUNTS
        </a>
      </li>
                        <li class="user-menu__item">
        <a class="user-menu-link" href="#">
          TOP-UP
        </a>
      </li>


                   

                    </ul>

                    <ul class="nav navbar-nav navbar-right">

                         <li>
                <a href="#">
                 
                  <span style="font-size: 20px;position: relative;right: 0px;top: 3px;"><i class="icofont-live-support"></i></span>  <span style="font-family: cursive;">+91-8101011011</span> 
                </a>


                
              </li>

                       
                     <li>
                <a href="../Report/Accounts/Ledger.aspx">
                  
                  <span style="font-size: 20px;position: relative;right: 0px;top: 3px;"><i class="icofont-wallet"></i></span>&nbsp;<span id="blc5"><i class="fa fa-spinner"></i></span>
                </a>
                         </li>

              <li>
                <a href="Dash.aspx">
                  <img class="navbar-flag" src="../Advance_CSS/Icons/settings.png" alt="Image Alternative text" title="Dashboard"/> Dashboard
                </a>
             
              </li>

                         


             
              <li class="navbar-nav-item">
                <a class="" href="#" id="show-sidebar">
                  <img class="navbar-flag" src="../Advance_CSS/Icons/user.png" alt="Image Alternative text" title="My Account"/>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="account.html">Preferences</a>
                  </li>
                  <li>
                    <a href="account-notifications.html">Notifications</a>
                  </li>
                  <li>
                    <a href="account-cards.html">Payment Methods</a>
                  </li>
                  <li>
                    <a href="account-travelers.html">Travelers</a>
                  </li>
                  <li>
                    <a href="account-history.html">History</a>
                  </li>
                  <li>
                    <a href="account-bookmarks.html">Bookmarks</a>
                  </li>
                </ul>
              </li>
            </ul>

                     
                    
                            <ul class="dropdown-menu" >

                                <div class="pd" runat="server" id="div1">
                                <li>
                                    <a href="account.html"></a>
                                </li>
                                <li>
                                    <a href="account-notifications.html"></a>
                                </li>
                                <li>
                                    <a href="account-cards.html"></a>
                                </li>
                                    </div>
                           
                                <li>
                                    
                                </li>

                            </ul>
                    
                </div>
            </div>
        </div>
    </nav>

        

        <header class="navbar navbar-custom header" id="header">
            <div class="navbar-expand">
                <div class="header-top">
                    <div class="container">
                        <div class="top-line">
                            <div class="row align-items-center">
                                <div class="col-sm-8 col-12">
                                    <div class="top-left-link float-md-left">
                                        <ul class="d-flex align-items-center  justify-content-center">
                                            <li>
                                                <div class="select-dropdown language-currency">
                                                    <div class="drop-option">
                                                        <div class="drop-list">
                                                            <span><i class="icofont-send-mail"></i>  Mail Us : info@richaworldtravels.com</span>&nbsp;&nbsp;
                                                             <span><i class="icofont-phone"></i>  Call Us : +(91) 7949109999</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-12">
                                    <div class="top-right-link float-sm-right d-none d-sm-block" style="float: right;">
                                        <ul>
                                            
                                            <li class="register-icon">
                                                <a title="Balance"><i class="icofont-wallet"></i>Total Balance : ₹<span id="blc">&nbsp;<i class="fa fa-pulse fa-spinner"></i></span>
                                                </a>
                                            </li>
                                            
                                           
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-middle">
                    <div class="container">
                        <div class="row no-gutters align-items-center">
                            <div class="col-lg-9 col-xs-6">
                                <div class="header-middle-left">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-lg-3 col-12">
                                            <div class="logo navbar-header float-none-sm">
                                                <a class="navbar-brand page-scroll" href="<%= ResolveUrl("flight-search")%>">
                                                    <img alt="testtravel" src="/Advance_CSS/Icons/logo(ft).png" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-9 col-0">
                                            <div class="overlay"></div>
                                            <div id="menu" class="navbar-collapse collapse justify-content-center">

                                                <ul id="menu-main" class="nav navbar-nav">
                                                    
                                                    <li class="level">
                                                        <a class="page-scroll" href="<%= ResolveUrl("flight-search")%>">Flight</a>
                                                    </li>
                                                    
                                                 

                                                    <li class="level">
                                                        <a class="page-scroll" href="<%= ResolveUrl("flight-search")%>">Hotel</a>
                                                    </li>

                                                    <li class="level">
                                                        <a class="page-scroll" href="<%= ResolveUrl("Package/Package_Home.aspx")%>">Package</a>
                                                    </li>

                                                    <li class="level">
                                                        <a class="page-scroll" href="<%= ResolveUrl("flight-search")%>">Money Transfer</a>
                                                    </li>

                                                 <li class="level">
                                                        <a class="page-scroll" href="<%= ResolveUrl("Bus_Search.aspx")%>">Bus</a>
                                                    </li>

                                                     <li class="level dropdown" style="display:none;">
                                                        
                                                   
                                                                                <a class="page-scroll" href="#">Services
               
                                                                                        </a>
             
                                                    
                                                        <div class="megamenu mobile-sub-menu">
                                                            <div class="megamenu-inner-top">
                                                                <ul class="sub-menu-level1">
                                                                    
                                                                 
                                                                    <li>
                                                                        <a href="tour_grid_sticky.html"><span></span>Upload Money</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="tour_full_width.html"><span></span>Manage Profile</a>
                                                                    </li>
                                                
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>


                                                    <li class="level">
                                                        <a class="page-scroll" href="<%=DashboardUrl %>">Dashboard</a>
                                                    </li>

                                               



                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xs-6">
                                <div class="header-middle-right">

                                    <div class="navbar-collapse collapse justify-content-center">

                                                <ul class="nav navbar-nav">
                                                    <li class="level dropdown">
                                                        
                                                                            <div class="theme-account-avatar">
                <img class="theme-account-avatar-img" src="<%=AgencyLogo %>" alt="Image Alternative text" title="Image Title">
                                                                                <a class="page-scroll" href="#">
                <p class="theme-account-avatar-name"><%=AgencyName%>
                  <br>(<%=AgencyId%>)
                </p>
                                                                                        </a>
              </div>
                                                    
                                                        <div class="megamenu mobile-sub-menu">
                                                            <div class="megamenu-inner-top">
                                                                <ul class="sub-menu-level1">
                                                                    
                                                                    <li>
                                                                      <div style="border: 1px solid #eee;background-color: #c5c5c5;margin-left: 10px;margin-right: 10px;border-radius: 10px;">
                                                                          <ul>
                                                                          <li>
                                                <a href="#" title="Due"><i class="icofont-holding-hands"></i> Due: ₹<span id="DueAmt">&nbsp;<i class="fa fa-pulse fa-spinner"></i></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="Credit Limit"><i class="icofont-credit-card"></i>  Credit Limit:  ₹<span id="CrdLimit">&nbsp;<i class="fa fa-pulse fa-spinner"></i></span>
                                                </a>
                                            </li>
                                                                              </ul>
                                                                      </div>
                                                                        </li>
                                                                    <li>
                                                                        <a href="tour_grid_sticky.html"><span></span>Upload Money</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="tour_full_width.html"><span></span>Manage Profile</a>
                                                                    </li>
                                                                    <li>
                                               <a id="btnAgencyLogout" href="/flight-search?logout=true"><i class="icofont-power"></i>&nbsp;Signout</a>
                                            </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    </ul>
                                        </div>


                    

                                    <div class="header-contact-info d-none d-lg-block" style="display:none !important; ">
                                        <span><i class="icofont-business-man-alt-1" style="font-size: 20px;line-height: 27px;"></i></span>
                                        <h3><%=AgencyName%></h3>
                                        <p class="m-0" style="color: #bdbdbd;"><%=AgencyId%></p>
                                    </div>
                                    <div class="right-side header-right-link">
                                        <ul>
                                            <li class="side-toggle">
                                                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button"><i class="fas fa-bars"></i></button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>




        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>


   <div class="theme-footer" id="mainFooter">
      <div class="container _ph-mob-0">
        <div class="row row-eq-height row-mob-full" data-gutter="60">
          <div class="col-md-3">
            <div class="theme-footer-section theme-footer-">
              <a class="theme-footer-brand _mb-mob-30" href="#">
                <img src="../Advance_CSS/Icons/logo(ft).png" alt="Image Alternative text" title="Image Title"><!--https://richatravels.in/photos/Logo/Richa Travels/Richa Travels%20logo.jpg-->
              </a>
              <div class="theme-footer-brand-text">
                <p>Richa Travels has emerged as one of India's fastest growing B2B Travel Portal since the launch of its travel portal richatravels.in</p>
                  <ul class="theme-copyright-social">
              <li>
                <a class="fa fa-facebook" href="#"></a>
              </li>
              <li>
                <a class="fa fa-google" href="#"></a>
              </li>
              <li>
                <a class="fa fa-twitter" href="#"></a>
              </li>
              <li>
                <a class="fa fa-youtube-play" href="#"></a>
              </li>
              <li>
                <a class="fa fa-instagram" href="#"></a>
              </li>
            </ul>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-4">
                <div class="theme-footer-section theme-footer-">
                  <h5 class="theme-footer-section-title">Richa</h5>
                  <ul class="theme-footer-section-list">
                    <li>
                      <a href="#">About Richa</a>
                    </li>
                  
                    <li>
                      <a href="#">Customer Support</a>
                    </li>
                    <li>
                      <a href="#">Advertising</a>
                    </li>
                 
                    <li>
                      <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                      <a href="#">Terms of Use</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4">
                <div class="theme-footer-section theme-footer-">
                  <h5 class="theme-footer-section-title">Explore</h5>
                  <ul class="theme-footer-section-list">
                    <li>
                      <a href="#">Best Fares</a>
                    </li>
                    
                    <li>
                      <a href="#">Airports</a>
                    </li>
                    <li>
                      <a href="#">Hotels</a>
                    </li>
                    <li>
                      <a href="#">Places of Interest</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4">
                <div class="theme-footer-section theme-footer-">
                  <h5 class="theme-footer-section-title">Book</h5>
                  <ul class="theme-footer-section-list">
                    <li>
                      <a href="#">Flight</a>
                    </li>
                  
                 
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="theme-mobile-app-section" style="height: 35vh;">
                                            <div class="theme-mobile-app-body">
                                                <div class="theme-mobile-app-header">
                                                    <h2 class="theme-mobile-app-title" style="color: #d7d7d7;font-size: 30px;">Download our app</h2>
                                                    <p class="theme-mobile-app-subtitle" style="color: gray">Book and manage your trips on the go. Be notified of our hot deals and offers.</p>
                                                </div>
                                                <ul class="theme-mobile-app-btn-list">
                                                    <li>
                                                        <a class="btn btn-dark theme-mobile-app-btn" href="#">
                                                            <i class="theme-mobile-app-logo">
                                                                <img src="../Advance_CSS/img/brands/apple.png" alt="Image Alternative text" title="Image Title">
                                                            </i>
                                                            <span>Download on
                                  <br>
                                                                <span>App Store</span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="btn btn-dark theme-mobile-app-btn" href="#">
                                                            <i class="theme-mobile-app-logo">
                                                                <img src="../Advance_CSS/img/brands/play-market.png" alt="Image Alternative text" title="Image Title">
                                                            </i>
                                                            <span>Download on
                                  <br>
                                                                <span>Play Market</span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
          </div>
        </div>
      </div>
    </div>

        <div class="theme-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="theme-copyright-text">Copyright © 2021
              <a href="#">Richa Travels</a>. All rights reserved.
            </p>
          </div>
          <div class="col-md-6">
            
          </div>
        </div>
      </div>
    </div>


        <div>
            <div id="footer_wrapper" class="hide">

                <!-- end of footer -->
            </div>
        </div>

        <div class="TNCpopup TNCpopupSG" data-popup="popup-1" style="display: none;">
            <div class="TNCpopup-inner">
                <h2><u><i>Terms & Conditions</i></u></h2>
                <p><b>•</b>	Hand bag fares available through website and selected travel agents. No free check-in baggage allowance is applicable.</p>
                <p><b>•</b>	Fare is only available for domestic sector.</p>
                <p><b>•</b>	Hand Baggage Only Fare will be available to book now 15 days in advance.</p>
                <p><b>•</b>	Hand Baggage Only Fare will only be available on direct flights only.</p>
                <p><b>•</b>	Changes and cancellations are permitted as per applicable rules and charges for hand baggage only fare.</p>
                <p><b>•</b>	Pre purchase of excess baggage should not be available under this fare.</p>
                <p><b>•</b>	For bookings made under HBOF, each of the passenger shall be allowed to carry only one (01) piece of luggage of maximum seven (07) kg. of weight (having maximum overall dimensions of: 115 cms. (L+W+H) on Boeing aircraft and 108 cms. (L+W+H) on Bombardier aircraft) in addition to a regular sized shoulder laptop bag or a lady’s handbag, free of cost.</p>
                <p>
                    <b>•</b>	If passenger bought HBAG fares and carrying Check-in Baggage at the last minute then below charges will apply:
            Passengers on these fares who wish to check baggage will be charged Fare Type Change Fee of Rs.400 at the airport for up to 15kgs. Baggage in excess of 15 Kgs is subject to a fee (Rs.350 per Kg ) to be paid at the airport at check-in.
                </p>
                <p><a onclick="hideBaggageDetails('TNCpopupSG')" href="#">Close</a></p>
                <a class="TNCpopup-close" onclick="hideBaggageDetails('TNCpopupSG')" href="#">x</a>
            </div>
        </div>
        <div class="TNCpopup TNCpopup6E" data-popup="popup-1" style="display: none;">
            <div class="TNCpopup-inner">
                <h2><u><i>Terms & Conditions</i></u></h2>
                <p><b>•</b>	Lite Fare will be available on all channels, all domestic flights except connecting flights & flights with a travel date within 15 days of booking date.</p>
                <p><b>•</b>	Lite Fare will be applicable on Retail Fare only.</p>
                <p><b>•</b>	In this fare, only 7kg Hand Baggage will be allowed.</p>
                <p><b>•</b>	No check In baggage will be allowed.</p>
                <p><b>•</b>	In case the customer reports with baggage at the airport, a fee of INR 200 will be charged at the airport for 15 KGS baggage allowance.</p>
                <p><b>•</b>	For Baggage above 15 KGS excess baggage charges as per policy will be applicable.</p>
                <p><a onclick="hideBaggageDetails('TNCpopup6E')" href="#">Close</a></p>
                <a class="TNCpopup-close" onclick="hideBaggageDetails('TNCpopup6E')" href="#">x</a>
            </div>
        </div>

    </form>
    <%--<script src="<%= ResolveUrl("~/Scripts/jquery-1.7.1.min.js")%>" type="text/javascript"></script>--%>




    <script type="text/javascript">
        $(document).ready(function () {

            $("#blc").hide();
            $("#blc").html("Not Available");
            $("#imgLoadLoginVals").show();
            try {
                $.ajax({
                    url: UrlBase + "FltSearch1.asmx/GetAgencyBal",
                    data: "",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        try {
                            //var resBal = data.d;
                            var resBal = 0;
                            var dueAmt = 0;
                            var crdLimit = 0;
                            var cmbBal = data.d

                            if (cmbBal.split('~').length > 0) {
                                resBal = cmbBal.split('~')[0];
                                if (cmbBal.split('~').length > 1) {
                                    crdLimit = cmbBal.split('~')[1];
                                }
                                if (cmbBal.split('~').length > 2) {
                                    dueAmt = cmbBal.split('~')[2];
                                }
                            }
                            if (resBal != null && resBal != "") {
                                $("#blc").html(" " + $.trim(resBal).split('.')[0] + "");
                            }

                            if (crdLimit != null && crdLimit != "") {
                                $("#CrdLimit").html(" " + $.trim(crdLimit.split('.')[0]) + "");
                            }
                            if (dueAmt != null && dueAmt != "") {
                                $("#DueAmt").html(" " + $.trim(dueAmt.split('.')[0]) + "");
                            }
                            // $("#imgLoadLoginVals").hide();
                            $("#blc").show();
                            $("#CrdLimit").show();
                            $("#DueAmt").show();
                            ////$("#DivLoadPBal").hide();                            
                        }
                        catch (err) {
                            alert(err);
                            ////$("#DivLoadPBal").hide();
                            //$("#imgLoadLoginVals").hide();
                            $("#blc").show();
                            $("#CrdLimit").show();
                            $("#DueAmt").show();
                        }
                    },
                    error: function (e, t, n) {
                        alert(t);
                        ////$("#DivLoadPBal").hide();                                                
                        //$("#imgLoadLoginVals").hide();
                        $("#blc").show();
                        $("#CrdLimit").show();
                        $("#DueAmt").show();
                    }
                });
            }
            catch (err) {
                alert(err);
                ////$("#DivLoadPBal").hide();
                // $("#imgLoadLoginVals").hide();
                $("#blc").show();
            }
            ////});
        });
    </script>

    <script type="text/javascript">
        function sortSelectOptions(selector, skip_first) {

            try {
                var options = (skip_first) ? $(selector + ' option:not(:first)') : $(selector + ' option');
                var arr = options.map(function (_, o) { return { t: $(o).text(), v: o.value, s: $(o).prop('selected') }; }).get();
                arr.sort(function (o1, o2) {
                    var t1 = o1.t.toLowerCase(), t2 = o2.t.toLowerCase();
                    return t1 > t2 ? 1 : t1 < t2 ? -1 : 0;
                });
                options.each(function (i, o) {
                    o.value = arr[i].v;
                    $(o).text(arr[i].t);
                    if (arr[i].s) {
                        $(o).attr('selected', 'selected').prop('selected', true);
                    } else {
                        $(o).removeAttr('selected');
                        $(o).prop('selected', false);
                    }
                });
            }

            catch (esc) { }
        }
    </script>
    <script type="text/javascript">
        var arr = $('select').each(function () {
            //for (i = 0; i < $('select').length; i++) {
            sortSelectOptions('#' + this.id + '', true);
            //}
        });
    </script>

    <script type="text/javascript">
        jQuery(function ($) {

            $(".sidebar-dropdown > a").click(function () {
                $(".sidebar-submenu").slideUp(200);
                if (
                    $(this)
                        .parent()
                        .hasClass("active")
                ) {
                    $(".sidebar-dropdown").removeClass("active");
                    $(this)
                        .parent()
                        .removeClass("active");
                } else {
                    $(".sidebar-dropdown").removeClass("active");
                    $(this)
                        .next(".sidebar-submenu")
                        .slideDown(200);
                    $(this)
                        .parent()
                        .addClass("active");
                }
            });

            $("#close-sidebar").click(function () {
                $(".page-wrapper").removeClass("toggled");
            });
            $("#show-sidebar").click(function () {
                $(".page-wrapper").addClass("toggled");
            });




        });
    </script>

</body>
</html>

